@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url('/fonts/GoogleSans/GoogleSans-Regular.woff2') format('woff2'),
    url('/fonts/GoogleSans/GoogleSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('/fonts/GoogleSans/GoogleSans-Medium.woff2') format('woff2'),
    url('/fonts/GoogleSans/GoogleSans-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src:
    url('/fonts/GoogleSans/GoogleSans-Bold.woff2') format('woff2'),
    url('/fonts/GoogleSans/GoogleSans-Bold.woff') format('woff');
}
@import 'tailwindcss';

@theme {
  --font-google-sans: 'Google Sans', sans-serif;

  --breakpoint-h-xsm: 21.875rem;
  --breakpoint-sm: 30rem;
  --breakpoint-2xl: 90rem;

  --color-blue-500: #4285f4;
  --color-green-500: #34a853;
  --color-yellow-600: #f9ab00;
  --color-red-500: #ea4335;
  --color-black-02: #1e1e1e;
  --color-off-white: #f0f0f0;
}

html {
  @apply font-google-sans font-normal leading-none box-border;
}

button {
  cursor: pointer;
}

/* default container padding on the x-axis */
.p_cont_auto {
  padding-left: 5.3333%;
  padding-right: 5.3333%;
}
@media (min-width: 768px) {
  .p_cont_auto {
    padding-left: 6.9444%;
    padding-right: 6.9444%;
  }
}
